.section-button1 button {
    margin-left: 200px;
    color: white;
    border: none;
    height: 80px;
    width: 420px;
    border-radius: 10px ;
    background-color: #0e3051;
    /* border-color: #0e3051; */
    margin-left: 800px;
}



