*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.section1 {
    width: 100%;
    /* max-width: 1400px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.sec01 {
    /* margin-left: 80px; */
}

.sec01-text {
    display: flex;
    gap: 50px;
    /* padding-left: 0px 900px 0px 200px; */
    /* margin: 0px 400px 0px 400px; */
}

.sec02 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.section2 {
    width: 100%;
    max-width: 850px;
    height: 70px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.nav {
    height: 72px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin: auto;
}

.navtxt {
    color: grey;
    font-size: 14px;
}

.icon, .pool, .view, .frame, .beach, .lake, .country {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
}


.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    width: 293px;
    height: 350px;
}


.cimg{
    justify-content: center;
     width: 273px;
    height: 260px;
    /* margin: auto; */
    justify-content: space-between;
   
}

.cimg img{
    width: 273px;
    height: 253px;
    border-radius: 10px;
    margin: 0px;
}

.item01{
    /* padding: 10px 0 20px; */
    font-size: 15px;
    /* line-height: 1.5; */
    width: 100%;
    max-width: 273px; 
    padding: 0%;
    
}

.past {
    width: 88vw;
    margin: auto;
}

.past01{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20px;


}
.container {
    width: 93vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    /* margin: auto;
    overflow-x: hidden; */
    padding: 0px 60px;
    margin: 10px 0px 48px;
}

/* .cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1556px;
    height: 350px;
}

.cont2 img {
    
    width: 293px;
    height: 277px;
    border-radius: 10px;
} */


.main-nav {
    display: flex;
}

.nav02 {
    display: flex;
    width: 399px;
    height: 35px;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    margin: auto;
}

.list1 {
    width: 88vw;
    margin: auto;
}

.list01 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20px;
}

.seclist1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
    color: #6A6A6A;
    padding-bottom: 20px;
}

.list2 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.list2 li {
    list-style-type: none;
}

.list001 {
    color: #222222;
}

.list002 {
    color: #6A6A6A;
}

.footer {
    width: 88vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer li {
    list-style-type: none;
    color: #222222;
    font-size: 14px;
    padding-top: 7px;
}

.footer1 {
    font-weight: 700;
}


@media (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
    }
    .navsec {
        flex-direction: row;
    }
    .nav .icon, .navsec .pool,  .view, .nav .frame, .nav .beach, .nav .lake, .nav .country {
        width: 100%;
    }

    .section1{
        visibility: hidden;
    }
    .sec01{
        visibility: hidden;

    }

    .nav{
        visibility: hidden;
    }
}

@media (min-width: 550px) and (max-width: 950px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 950px) and (max-width: 1128px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1128px) and (max-width: 1640px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1640px) and (max-width: 1880px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1880px)  {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}





