.container {
    width: 90vw;
    /* height: 50vh; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5rem;
    margin: auto;
 
}

.cimg{
    display: flex;
    justify-content: center;
}

.cimg img{
    width: 322px;
    height: 305px;
    border-radius: 10px;
}

.cont2{
   display: flex;
   justify-content: center;
}

.cont2 img{
    width: 322px;
    height: 305px;
    border-radius: 10px;
}


@media only screen and (max-width : 550px)
{
    .container{
        display: grid;
        margin: auto;
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width : 550px) and (max-width : 950px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

 @media only screen and (min-width : 950px) and (max-width : 1128px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width : 1128px) and (max-width : 1640px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
} 






 
    
